.dropper {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

    .dropper-btn {
        flex: 1;
        display: flex;
        background-color: #97AB78;
        color: white;
        border: 2px solid #DAD2BE;
        border-radius: 5px;
        text-decoration: none;
        padding: 15px;
        // width: 100%;
        // margin: auto;

        .dropper-title {
            display: flex;
            flex: 1;
            vertical-align: middle;
            justify-items: center;
        }

    }

    .dropper:hover {
        cursor: pointer;
    }

    .dropper-content {
        display: none;
        text-align: justify;
        padding: 20px;
    }

    .show {
        display: block;
    }
}