<app-banner></app-banner>

<div class="container">
    <h1>Consultation homéopathique</h1>
    <!-- <h2>{{'title' | transloco}}</h2> -->

    <div class="col-full">
        <p>
            Ceci est un paragraphe Ceci est un paragraphe Ceci est un paragraphe Ceci est un paragraphe Ceci est un
            paragraphe Ceci est un paragraphe Ceci est un paragraphe Ceci est un paragraphe Ceci est un paragraphe Ceci
            est
            un paragraphe Ceci est un paragraphe Ceci est un paragraphe Ceci est un paragraphe Ceci est un paragraphe
            Ceci
            est un paragraphe Ceci est un paragraphe
        </p>
    </div>
    <div class="cols">
        <div class="col">
            <h2>Consultation adultes</h2>
            <app-media-player></app-media-player>
        </div>
        <div class="col">
            <h2>Consultation enfants</h2>
            <app-media-player></app-media-player>
        </div>
    </div>

    <h2>Patologie tratée</h2>
    <div class="cols">
        <div class="col">
            <ng-container *transloco="let t">
                <app-dropper *ngFor="let patology of t('patologies')">
                    <header>{{patology.title}}</header>
                    {{patology.content}}
                </app-dropper>
            </ng-container>
        </div>
        <div class="col">
            <app-dropper>Hehe</app-dropper>
            <app-dropper>Bonjour</app-dropper>
            <app-dropper>Bonsoir</app-dropper>
        </div>
    </div>

    <h2>Questions fréquentes</h2>
    <div class="cols">
        <div class="col">
            <ng-container *transloco="let t">
                <app-dropper *ngFor="let question of t('questions')">
                    <header>{{question.question}}</header>
                    {{question.content}}
                </app-dropper>
            </ng-container>
        </div>
    </div>
</div>