<nav [ngClass]="{'show': showNavBar}">
    <div class="nav-item-container">
        <div class="nav-item" (click)="hiddeNavbar()" routerLink="/">Accueil</div>
        <div class="nav-item" (click)="hiddeNavbar()" routerLink="consultation/homeo">Consultation homéopathique</div>
        <div class="nav-item" (click)="hiddeNavbar()" routerLink="consultation/phyto">Consultation phytothérapie</div>
        <div class="nav-item" (click)="hiddeNavbar()" routerLink="infos">Informations pratiques</div>
    </div>
</nav>

<div class="burger" (click)="toggleNavbar()">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
</div>

<router-outlet></router-outlet>

<!-- 
<h1>{{'title' | transloco}}</h1>
-->
<ul>
    <li *ngFor="let language of languagesList" (click)=" changeLanguage(language.code)">
        {{language.code}}
    </li>
</ul>

<app-footer></app-footer>