<footer>
    <div class="container">
        <div class="cols">
            <div class="col">
                <div class="section">
                    <div class="section-title">Adresse</div>
                    <div class="section-content">Rte du Lac 55 1586 Vallamand, Suisse</div>
                </div>
                <div class="section">
                    <div class="section-title">Téléphone</div>
                    <div class="section-content">+41 79 79 79 79 79</div>
                </div>
                <div class="section">
                    <div class="section-title">Email</div>
                    <div class="section-content">contact@mg-homeopathe.com</div>
                </div>
                <div class="section">
                    <div class="section-title">Horaires</div>
                    <div class="section-content">Du lundi au vendredi <br> De 09h00 à 18h00</div>
                </div>
            </div>
            <div class="col">
                <div class="section">
                    <div class="section-title">Politique de confidentialité</div>
                    <div class="section-content"></div>
                </div>
                <div class="section">
                    <div class="section-title">Affiliation</div>
                    <div class="section-content"></div>
                </div>
                <div class="section">
                    <div class="section-title">Légal</div>
                    <div class="section-content"></div>
                </div>
            </div>
        </div>
    </div>
</footer>